<nav *ngIf="isLoggedIn">
  <div class="logoContainer">
      Movie Store
  </div>
 
  <ul>
      <li>
          <a routerLink="/dashboard" routerLinkActive="active">Home</a>
      </li>

      <li *ngIf="roles=='User'">
          <a routerLink="/user-page" routerLinkActive="active">User Page</a>
      </li>

      <li *ngIf="roles=='User'">
        <a routerLink="/BMI-Calculator" routerLinkActive="active">BMI Calculator</a>
    </li>

    <li *ngIf="roles=='User'">
        <a routerLink="/appointment-booking" routerLinkActive="active">Appointment Booking</a>
    </li>

    <li *ngIf="roles=='Admin'">
        <a routerLink="/Trainer-details" routerLinkActive="active">Trainers Details</a>
    </li>

      <li *ngIf="roles=='Admin'">
          <a routerLink="/admin-page" routerLinkActive="active">Admin Page</a>
      </li>

      <li>
          <a (click)="logout()" style="cursor:pointer">Logout</a>
      </li>
     
  </ul>
</nav>


<router-outlet (activate)="checkLoggedInUser()" >
  <!-- our content pages goes here -->
</router-outlet>